
<li>
    <article class="post">
        {% comment %} url first input is ref to url path, then other kwargs {% endcomment %}
        <a href="{% url "post-detail-page" post.slug %}">
            {% comment %} to access a post's image object, access its url field {% endcomment %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
            <div class="post__content">
                {% comment %} dot notation correct way to access dictionaries in django {% endcomment %}
                <h3>{{ post.title }}</h3>
                <p>{{ post.excerpt }}</p>
            </div>
        </a>
    </article>
</li>